useDynLib(diffuR, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(beta_linear, beta_cosine)
export(train_diffusion_dist, train_diffusion_image)
export(sample_ddpm, denoise_ddpm, inpaint_ddpm)
export(sample_vp_sde)
export(swiss_roll, plot_2d_samples)
export(psnr, ssim)
